<div class="topnav">
  <a href="#home">Home</a>
  <a href="#browse">Browse</a>
  <a href="#dashboard">myDashboard</a>
</div>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
  <a href="#browse">Back to Browse</a>
  <p></p>
  <div class="row">
    <div class="column1">
      <div class="parent">
        <div class="inline-block-child">
          <img class="face" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Avatar" style="width:200px">
          &nbsp; &nbsp;
          <div>
            <h1>Influencer Name {{ username }}</h1>
            <i class="fas fa-map-marker-alt"> New York, New York</i>
          </div>
        </div>
        <div class="inline-block-child">
          <div class="center2">
            <div class="container">
              <i class="fas fa-envelope fa-3x"></i>
              <br>
              <!-- <img src="http://pixsector.com/cache/dc0ee776/avd5c445f01ca4712be88.png" style="width:90px"> -->
              <button type="button" class="contactButton">Contact</button>
            </div>
          </div>
        </div>
      </div>
      <p></p>
      <p></p>
      <div class="row">
        <div class="cardcol">
          <div>
            <div class="container">
              <img src="https://image.flaticon.com/icons/png/512/18/18289.png" style="width:90px">
              <h4><b>Age</b></h4>
            </div>
          </div>
        </div>
        <div class="cardcol">
          <div>
            <div class="container">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAh__ZLwHjQ8WggnY0FVLo4-3mug8yDZUQyaLntb-i06sVNUCF" style="width:90px">
              <h4><b>Gender</b></h4>
            </div>
          </div>
        </div>
        <div class="cardcol">
          <div>
            <div class="container">
              <img src="https://image.flaticon.com/icons/png/512/18/18289.png" style="width:90px">
              <h4><b>Platforms</b></h4>
            </div>
          </div>
        </div>
      </div>
      <h3>Demographics Reached</h3>
      <p></p>
    </div>
    
    <div class="column2">
      <div class="parent">
          <div class="inline-block-child">
            <div class="center3">
              <div class="container">
                <h3>Industry Alignment</h3>
                <div class="card">
                  <p>Fashion</p>
                </div>
                <div class="card">
                  <p>Lifestyle</p>
                </div>
                <div class="card">
                  <p>Travel</p>
                </div>
              </div>
            </div>
          </div>
          <div class="inline-block-child">
            <h3 class="center">Engagement Rates</h3>
            <img src="https://image.flaticon.com/icons/png/512/18/18289.png" style="width:200px">
          </div>
      </div>
      <p></p>
      <div class="card">
        <h3 class="center">Ratings</h3>
        <div class="container">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            &nbsp; &nbsp;
            <div class="child inline-block-child">
              <p>Fair Value</p>
            </div>
        </div>
        <div class="container">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            &nbsp; &nbsp;
            <div class="child inline-block-child">
              <p>Credibility</p>
            </div>
        </div>
        <div class="container">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            &nbsp; &nbsp;
            <div class="child inline-block-child">
              <p>Transparency</p>
            </div>
        </div>
        <div class="container">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            &nbsp; &nbsp;
            <div class="child inline-block-child">
              <p>Investment in Product(s)</p>
            </div>
        </div>

      </div>
    </div>
    
  </div>
  
  </body>



<router-outlet></router-outlet>
